body{
    margin:0;
    padding:0;
    background-color:white;
    width:100vw;
    overflow:hidden;
    /* position:relative; */
    /* display:flex; */
    /* justify-content: flex-start; */
    touch-action: pan-x;
}

img{
    user-select: none;
    -webkit-user-drag: none;
}

#outer-container{
    background: cadetblue;
    position:sticky;
    top:0;
    overflow:hidden;
}

.container{
    /* background-color: pink; */
    /* white-space:nowrap; */
    overflow:hidden;
    display:flex;
    position:relative;
    touch-action: pan-x;
}

/* .background-container{
    position:absolute;
    top:0;
    z-index:1;
} */

#foreground-container{
    display:none;
    pointer-events: none;
    /* transform:translateY(-100%) !important; */
    /* margin-top: -100px; */
    /* position:absolute; */
    /* top:0; */
    /* left:0; */
    /* top:100px; */
    min-height:100%;
    min-width:100%;
    z-index:200 !important;
    /* background-color: cadetblue !important; */
}

#foreground-container .bg{
    opacity:0;
}

::-webkit-scrollbar{
    display:none;
    scrollbar-width: none;
    -webkit-scrollbar-width: none;
    -ms-overflow-style: none;
}

.box{
    /* background-color:honeydew; */
    /* min-width:700px; */
    height:100vh;
    /* display: inline-block; */
    margin:0;
    position:relative;
    /* position:sticky; */
    /* top:0; */
    /* z-index:95 !important; */
}

.box .bg{
    height:100%;
}

#work-menu{
    position:absolute;
    /* top:32vw; */
    /* left:83vw; */
    /* width:13vw; */
    width:15%;
    top:45%;
    /* width:150px; */
    /* aspect-ratio: 9/16; */
    /* top:32vh; */
    /* left:83vh; */
    z-index:10;
    /* display: none; */
    /* transform: scale(0); */
    transform: scale(0);
}

#work-menu:hover{
    transform: scale(1.01) !important;
    cursor: pointer;
}

.work-menu-appear{
    animation: 0.5s popup ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes popup {
    0%{transform: scale(0);}
    50%{transform: scale(1.01);}
    100%{transform: scale(1);}
}

.popup-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    /* opacity:0; */
    /* pointer-events: none; */
    z-index:100;
    display:none;
    align-items: center;
    justify-content: center;
}

.projects-container{
    /* background-color: white; */
    width:30%;
    position: relative;
    border-radius:25px;
    border:3px solid black;
}

.overlay-appear{
    /* opacity:1; */
    /* pointer-events:visible; */
    display:flex;
    align-items: center;
    justify-content: center;
}

.close-popup{
    position:absolute;
    right:-25px;
    top:-25px;
    background-color: red;
    color:white;
    width:50px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    visibility: visible;
}

.project-title{
    background-color: #DCCDFF;
    box-sizing: border-box;
    padding: 5% 7%;
    border-radius:25px 25px 0 0;
    border-bottom:3px solid black;
}

#projects{
    background-color:white;
    box-sizing: border-box;
    padding: 5% 7% 0 7%;
    border-radius:0 0 25px 25px;
    height:65vh;
    overflow-y:scroll;
}

.indiv-project{
    /* background-color: #DCCDFF; */
    height:100px;
    display:flex;
    align-items: center;
    margin-bottom:25px;
}

.indiv-project:hover{
    background-color:rgb(220, 205, 255,0.2);
    border-radius:25px;
}

.indiv-project img{
    height:100%;
    margin-right:25px;
    box-sizing: border-box;
    border:3px solid black;
    border-radius: 25px;
}

.video-container{
    background-color: white;
    width:80%;
    aspect-ratio: 16/9;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius:25px;
    border:3px solid black;
}

h1{
    margin:0 0 25px 0;
}

h2{
    margin:0 0 10px 0;
}

.character{
    position:fixed;
    top:45%;
    left:100px;
    /* width:27%; */
    height:40%;
    /* top:45%; */
    /* left:100px; */
    /* width:5%; */
    /* height:4%; */
    z-index:98 !important;
    pointer-events: none;
}

.foreground{
    /* background-color: pink; */
    position:absolute;
    bottom:0;
    z-index:99;
}

.foreground img{
    width:100%;
}

.table{
    right:0;
    width:60%;
    height:26%;
}

.shop{
    /* background-color: mediumseagreen; */
    width:45%;
    left:0;
    right:0;
    height: 25.5%;
    margin:auto;
}

.crowd{
    /* background-color: mediumseagreen; */
    width:115%;
    left:-7.55%;
    right:0;
    height: 25%;
    margin:auto;
}

.crowd img{
    position:absolute;
    top:0;
}

.speech{
    margin-top:-2%;
    right:2%;
    width:20% !important;
}

.crowd img{
    animation: 0.5s jump ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.crowd img:nth-child(2), .crowd img:nth-child(3){
    animation-delay:0.1s;
}

@keyframes jump {
    from{transform: translateY(-10px)}
    to{transform: translateY(0)}
}

.reel-box{
    background-color: white;
    position:absolute;
    width:61%;
    aspect-ratio:16/9 !important;
    left:3.5%;
    right:0;
    margin:auto;
    /* height:30%; */
    top:6%;
    z-index:99;
    /* opacity:0.5; */
    display: flex;
    align-items: center;
    justify-content: center;
    border:2.5px solid black;
}

.reel-box img, .clients .board{
    position: absolute;
    width:100%;
    top:0;
    z-index:-2;
}

button{
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border:2px solid black;
    padding:15px 35px;
    border-radius:15px;
    background-color:#8024E5;
    color:white;
    position: relative;
}

button::before{
    content:'';
    position:absolute;
    top:25%;
    left:-2px;
    width:calc(100% + 4px);
    height:100%;
    background-color:#5F02C7;
    border-radius:15px;
    box-sizing: border-box;
    border:2px solid black;
    z-index:-1;
}

button:hover{
    transform: translateY(15%) !important;
    z-index:1 !important;
    cursor: pointer;
}

button:hover::before{
    opacity:0;
}

.clients{
    /* background-color: mediumseagreen; */
    width:60%;
    left:-4%;
    height: 37%;
}

#client-logos{
    /* background-color: white; */
    position:absolute;
    width:84%;
    height:53%;
    top:27%;
    left:0;
    right:0;
    margin:auto;
    z-index:99;
    display:flex;
    align-items: center;
    white-space: nowrap;
    overflow:hidden;
    scroll-behavior: smooth;
}

.indiv-logo{
    /* background-color: cadetblue; */
    min-width:20%;
    text-align: center;
}

#client-logos img{
    width: 65%;
    /* height:70%; */
    /* margin:0 5%; */
    transition: all 0.1s ease-in-out;
}

#client-logos img:hover{
    transform:scale(1.1) rotate(-5deg); 
}

.buttons{
    /* background-color: pink; */
    position:absolute;
    width:100%;
    height:15%;
    top:45%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2%;
}

.buttons img{
    width:85%;
}

.buttons:hover{
    opacity:0.8;
    cursor:pointer;
}