body{
    margin:0;
    padding:0;
    background-color:#8A8A8A;
    width:100vw;
    overflow:hidden;
    touch-action: pan-x;
    font-family: 'Dosis', sans-serif;
}

::-webkit-scrollbar{
    display:none;
    scrollbar-width: none;
    -webkit-scrollbar-width: none;
    -ms-overflow-style: none; 
}

h1, h2, h3{
    font-weight:400;
}

img{
    user-select: none;
    -webkit-user-drag: none;
}

#outer-container{
    background: cadetblue;
    position:sticky;
    top:0;
    overflow:hidden;
}

#container{
    overflow:hidden;
    display:flex;
    position:relative;
    touch-action: pan-x;
    background-clip: border-box !important;
}

.box{
    margin:0;
    position:relative;
    height:100vh;
}

.box .bg{
    height:100%;
}

.popup-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:100;
    display:none;
    align-items: center;
    justify-content: center;
}

.projects-container{
    background-color: white;
    width:100%;
    height:100%;
    box-sizing: border-box;
    /* border-radius:25px; */
    border:3px solid black;
    overflow-y:scroll;
    scrollbar-width:none;
}

.category-buttons{
    padding-left:7%;
    white-space: nowrap;
    overflow-x:scroll;
    padding-bottom:15px;
    scrollbar-width:none;
}

.category-buttons button{
    background-color:white;
    color:black;
}

.category-buttons button::before{
    background-color:white;
}

.category-buttons .active{
    background-color:#8024E5;
    color:white;
}

.category-buttons .active::before{
    background-color:#8024E5;
}

.overlay-appear{
    display:flex;
    align-items: center;
    justify-content: center;
}

.close-popup{
    position:absolute;
    right:15px;
    top:15px;
    background-color: #FF4B4A;
    color:white;
    width:55px;
    height:55px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    border:3px solid black;
    font-size:20px;
}

.close-popup:hover{
    cursor: pointer;
    background-color:#DC1414;
}

.project-title{
    background-color: #DCCDFF;
    box-sizing: border-box;
    /* border-radius:25px 25px 0 0; */
    border-bottom:3px solid black;
    position:sticky;
    top:0;
    padding: 5% 0;
    /* padding: 5% 7%; */
}

.project-title h1{
    padding-left:7%;
}

#projects{
    background-color:white;
    box-sizing: border-box;
    padding: 5% 7% 0 7%;
    border-radius:0 0 25px 25px;
}

.indiv-project{
    height:110px;
    display:flex;
    align-items: center;
    margin-bottom:25px;
}

.indiv-project:hover{
    background-color:rgb(220, 205, 255,0.2);
    border-radius:25px;
}

.indiv-project img{
    height:100%;
    margin-right:30px;
    box-sizing: border-box;
    border:3px solid black;
    border-radius: 15px;
}

.video-container{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius:25px;
}

iframe{
    width:100vw;
    aspect-ratio: 16/9 !important;
}

h1{
    margin:0 0 25px 0;
}

h2{
    margin:0 0 10px 0;
}

.character{
    /* background-color: #8024E5; */
    position:fixed;
    top:45%;
    left:45px;
    height:40%;
    z-index:98 !important;
    pointer-events: none;
}

.character-backwards{
    transform: rotateY(180deg);
}

.balloon-text-backwards{
    transform: rotateY(180deg) rotate(10deg) !important;
}

.character img{
    height:100%;
}

.balloon{
    /* background-color: #DCCDFF; */
    position:absolute;
    top:-10%;
    right:-5%;
    width:33.5%;
    height:85%;
    display:flex;
    justify-content: center;
    animation: 0.5s bounce ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    color:white;
    z-index:1;
    display:none;
}


@keyframes bounce {
    from{transform: translateY(-10px) rotate(10deg)}
    to{transform: translateY(0) rotate(10deg)}
}

.balloon img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:auto;
}

.balloon-text-box{
    pointer-events: visible;
    width: 98%;
    height:40.9%;
    box-sizing: border-box;
    border:4px solid transparent;
    border-radius:100%;
    z-index:5;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:12px;
    padding:0 1vw;
    text-align: center;
}

.balloon-text-box i, .balloon-text-box span{
    transform:rotate(-10deg);
}

.balloon-text-box i{
    display:none;
    z-index:100;
}

.balloon-text-box:hover span{
    display:none;
}

.balloon-text-box:hover i{
    display:block;
    font-size:25px;
}

.balloon-text-box:hover{
    cursor: pointer;
    background-color: rgb(78, 170, 166,0.5);
    border:4px solid black;
}

.foreground{
    /* background-color: pink; */
    position:absolute;
    bottom:0;
    z-index:99;
}

.foreground img{
    width:100%;
}

.table{
    right:0;
    width:60%;
    height:26%;
}

.shop{
    /* background-color: mediumseagreen; */
    width:45%;
    left:0;
    right:0;
    height: 25.5%;
    margin:auto;
}

.crowd{
    /* background-color: mediumseagreen; */
    width:115%;
    left:-7.55%;
    right:0;
    height: 25%;
    margin:auto;
}

.crowd img{
    position:absolute;
    top:0;
}

.speech{
    margin-top:-2%;
    right:2%;
    width:20% !important;
}

.crowd img{
    animation: 0.5s jump ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.crowd img:nth-child(2), .crowd img:nth-child(3){
    animation-delay:0.1s;
}

@keyframes jump {
    from{transform: translateY(-10px)}
    to{transform: translateY(0)}
}

.reel-box{
    background-color: black;
    position:absolute;
    width:61%;
    aspect-ratio:16/9 !important;
    left:3.5%;
    right:0;
    margin:auto;
    top:6%;
    z-index:99;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid black;
}

.reel-box iframe, .clients .board{
    position: absolute !important;
    width:100%;
    top:0;
    z-index:-2;
    pointer-events:none;
}

button{
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border:3px solid black;
    padding:15px 35px;
    font-size:16px;
    border-radius:15px;
    background-color:#8024E5;
    color:white;
    position: relative;
    font-family: 'Dosis', sans-serif;
    margin-right:15px;
}

button::before{
    content:'';
    position:absolute;
    top:20%;
    left:-2px;
    width:calc(100% + 4px);
    height:100%;
    background-color:#5F02C7;
    border-radius:15px;
    box-sizing: border-box;
    border:3px solid black;
    z-index:-1;
}

button:hover{
    transform: translateY(15%) !important;
    z-index:1 !important;
    cursor: pointer;
}

button:hover::before{
    opacity:0;
}

.clients{
    /* background-color: mediumseagreen; */
    width:60%;
    left:-2%;
    height: 37%;
}

#client-logos{
    /* background-color: white; */
    position:absolute;
    width:84%;
    height:53%;
    top:27%;
    left:0;
    right:0;
    margin:auto;
    z-index:99;
    display:flex;
    align-items: center;
    white-space: nowrap;
    overflow:hidden;
    scroll-behavior: smooth;
}

.indiv-logo{
    /* background-color: cadetblue; */
    min-width:20%;
    text-align: center;
}

.indiv-logo img{
    width: 50%;
    transition: all 0.1s ease-in-out;
}

#client-logos img:hover{
    transform:scale(1.1) rotate(-5deg); 
}

.buttons{
    /* background-color: pink; */
    position:absolute;
    width:100%;
    height:15%;
    top:45%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.buttons img{
    width:85%;
}

.buttons div{
    width:6%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.buttons div img{
    height:60%;
    width:auto;
}

.buttons div:hover{
    opacity:0.8;
    cursor:pointer;
}

#prev{
    opacity:0.2;
}

.prev-active{
    opacity:1 !important;
}

.next-inactive{
    opacity:0.2 !important;
    pointer-events:none;
}

.contact-us-door{
    /* background-color:palegoldenrod; */
    height:100%;
    width:auto;
    width:33%;
    position:absolute;
    right:-4%;
}

.contact-us-door img{
    height:100%;
}

@media only screen and (min-width: 768px){

    .balloon-text-box{
        font-size:16px;
    }

    .projects-container{
        width:650px;
        height:90%;
        border-radius:25px;
    }

    .project-title{
        border-radius:20px 20px 0 0;
    }

    .video-container, iframe{
        max-width:1500px;
    }

    .reel-box button{
        opacity:0;
    }
    
    .reel-box:hover button{
        opacity:1;
    }
}